<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.estate.mapper.EstateMapper">

    <!-- 매물 리스트 -->
    <select id="getEstateList" resultType="com.kb.estate.dto.EstateDTO">
        SELECT eno, housetype, deposit, monthlyPee, floor, roomSize, tradetype, distToSub, latitude, longitude, lan, img AS imgString
        FROM Estate
    </select>

    <!-- 매물 상세 정보 -->
    <select id="getEstateDetail" parameterType="Long" resultType="com.kb.estate.dto.EstateDetailDTO">
        SELECT e.eno, e.address, e.housetype, e.monthlyPee, e.tradetype, e.deposit, e.latitude, e.longitude, e.option, e.secOption,
               e.floor, e.roomSize, e.distToSub, e.lan, e.mno, e.content, e.img AS imgString,
               a.ano, a.businessName, a.agentContact, a.agentRegNum, a.agentName, a.agentLocation
        FROM Estate AS e
                 LEFT JOIN Agent AS a ON a.ano = e.mno AND a.lan = e.lan
        WHERE e.eno = #{eno}
            LIMIT 1
    </select>
    <!-- 위치기반 매물 탐색 -->
    <select id="getEstateByLocation" parameterType="com.kb.estate.dto.EstateParam" resultType="com.kb.estate.dto.EstateDTO">
    <![CDATA[
        SELECT *, img AS imgString
        FROM (
                 SELECT *,
                        (6371 * acos(cos(radians(#{latitude}))
                                         * cos(radians(latitude))
                                         * cos(radians(longitude) - radians(#{longitude}))
                            + sin(radians(#{latitude}))
                                         * sin(radians(latitude)))) AS distance
                 FROM Estate
             ) AS subquery
        WHERE distance < 1
        ORDER BY distance;
        ]]>
</select>

</mapper>
