<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.buddizintro.mapper.BuddizIntroMapper">

    <!-- Query to get all Buddiz introductions -->
    <select id="getAllBuddizIntro" resultType="com.kb.buddizintro.dto.BuddizIntroDTO">
        SELECT uno, liveInKr, personality, cost, hiredTimes, rating, selfInfo, lan, useLan
        FROM UserBuddiz
    </select>

    <!-- Query to get Buddiz introduction by unique number -->
    <select id="getBuddizIntro" parameterType="Integer" resultType="com.kb.buddizintro.dto.BuddizIntroDTO">
        SELECT uno, liveInKr, personality, cost, hiredTimes, rating, selfInfo, lan, useLan
        FROM UserBuddiz
        WHERE uno = #{uno}
    </select>

    <!-- Query to update Buddiz introduction -->
    <update id="updateBuddizIntro" parameterType="com.kb.buddizintro.dto.BuddizIntroDTO">
        UPDATE UserBuddiz
        SET selfInfo = #{selfInfo}, personality = #{personality}, cost = #{cost}, hiredTimes = #{hiredTimes},
            rating = #{rating}, lan = #{lan}, useLan = #{useLan}
        WHERE uno = #{uno}
    </update>

</mapper>
