<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.blame.mapper.BlameMapper">
    <resultMap id="blameResultMap" type="com.kb.blame.dto.Blame">
        <result property="blaid" column="blaid" />
        <result property="targetType" column="target_type"/>
        <result property="content" column="content" />
        <result property="datetime" column="datetime" />
        <result property="uno" column="uno" />
        <result property="blamedId" column="blamed_id" />
    </resultMap>

    <resultMap id="blameBuddizResultMap" type="com.kb.blame.dto.BlameBuddiz">
        <result property="blaid" column="blaid" />
        <result property="targetType" column="target_type"/>
        <result property="content" column="content" />
        <result property="datetime" column="datetime" />
        <result property="uno" column="uno" />
        <result property="blamedId" column="blamed_id" />

        <result property="blamedNickName" column="blamedNickname" />
        <result property="blamedProfilePic" column="blamedProfilePic" />
        <result property="blamedPersonality" column="blamedPersonality" />
    </resultMap>

    <resultMap id="blameEstateResultMap" type="com.kb.blame.dto.BlameEstate">
        <result property="blaid" column="blaid" />
        <result property="targetType" column="target_type"/>
        <result property="content" column="content" />
        <result property="datetime" column="datetime" />
        <result property="uno" column="uno" />
        <result property="blamedId" column="blamed_id" />

        <result property="tradetype" column="tradetype" />
        <result property="deposit" column="deposit" />
        <result property="monthlyPee" column="monthlyPee" />
        <result property="img" column="first_img" />
    </resultMap>

    <insert id="insertBlame" parameterType="com.kb.blame.dto.Blame">
        <selectKey keyProperty="blaid" resultType="long" order="AFTER">
            SELECT @@identity as blaid
        </selectKey>

        insert into Blame (blaid, target_type, content, datetime, uno, blamed_id)
        values (default, #{targetType}, #{content}, default, #{uno}, #{blamedId})
    </insert>

    <select id="selectBlameById" parameterType="long" resultMap="blameResultMap">
        select b.blaid, b.target_type, b.content, b.datetime, b.uno, b.blamed_id
        from Blame as b
        where b.blaid = #{ blaid }
    </select>

    <select id="selectBuddizBlameList" parameterType="long" resultMap="blameBuddizResultMap">
        select b.blaid, b.target_type, b.content, b.datetime, b.uno, b.blamed_id,
               U.nickname AS blamedNickname,
               U.profilePic AS blamedProfilePic, UB.personality AS blamedPersonality
        from Blame as b
                 JOIN User U on b.blamed_id = U.uno
                 JOIN UserBuddiz UB ON b.blamed_id = UB.uno
        where b.uno = #{uno} and b.target_type = 'B'
        Order By b.datetime DESC
    </select>

    <select id="selectEstateBlameList" parameterType="long" resultMap="blameEstateResultMap">
        select b.blaid, b.target_type, b.content, b.datetime, b.uno, b.blamed_id,
               e.deposit, e.tradetype, e.monthlyPee, SUBSTRING_INDEX(e.img, ',', 1) AS first_img
        from Blame as b
                 Join Estate as e ON e.eno = b.blamed_id

        where b.uno = #{uno} and b.target_type = 'E'
        Order By b.datetime DESC
    </select>
</mapper>