<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.home.mapper.PopularBuddizMapper">
    <select id="findTopBuddiz" resultType="com.kb.home.dto.PopularBuddizDTO">
        SELECT u.uno, u.nickname, u.profilePic AS imgFile, ROUND(AVG(ub.rating), 2) AS averageRating
        FROM User u
        JOIN UserBuddiz ub ON u.uno = ub.uno
        JOIN Review r ON r.uno = ub.uno
        GROUP BY u.uno, u.nickname, u.profilePic
        HAVING COUNT(r.uno) >= 10  <!-- 리뷰 개수가 10개 이상인 조건 -->
        ORDER BY averageRating DESC  <!-- 평균 별점 순으로 정렬 -->
        LIMIT 3  <!-- 상위 3개의 결과만 출력 -->
    </select>
</mapper>
