<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.buddiz.mapper.BuddizMapper">

    <!-- Query to get all Buddiz introductions -->
    <select id="getAllBuddizIntro" resultType="com.kb.buddiz.dto.BuddizDTO">
        SELECT liveInKr, `character`, cost, hiredTimes, rating, selfInfo, lan, reviewcnt
        FROM UserBuddiz
    </select>

    <!-- Query to get Buddiz introduction by unique number -->
    <select id="getBuddizIntro" parameterType="Integer" resultType="com.kb.buddiz.dto.BuddizDTO">
        SELECT liveInKr, `character`, cost, hiredTimes, rating, selfInfo, lan, reviewcnt
        FROM UserBuddiz
        WHERE uno = #{uno}
    </select>

    <!-- Query to update Buddiz introduction -->
    <update id="updateBuddizIntro" parameterType="com.kb.buddiz.dto.BuddizDTO">
        UPDATE UserBuddiz
        SET selfInfo = #{selfInfo}
        WHERE uno = #{uno}
    </update>

</mapper>
